<div class='row'>

  <div class='col-md-6'>
    <h2>Keep your mantra in focus</h2>
    <p class='lead'>
      Receive text messages with your mantra or a picture to remind you.
      Scheduled by you or sent at random.
    </p>
  </div>

  <div class='col-md-6'>
    <h2>Sign up today</h2>
    <%= form_for User.new, as: :user, url: registration_path(:user) do |f| %>
      <div class='form-group'>
        <%= f.label :mobile_number, 'Mobile Number' %>
        <%= f.text_field :mobile_number, class: 'form-control', autofocus: true, placeholder: '321-555-1234' %>
      </div>
      <div class='form-group'>
        <%= f.label :password %>
        <%= f.password_field :password, autocomplete: 'off', placeholder: '******', class: 'form-control' %>
      </div>
      <div class='form-group'>
        <%= f.label :carrier, 'Select your Carrier' %>
        <%= f.select :carrier, carrier_options, {}, { class: 'form-control' } %>
      </div>
      <%= f.submit 'Sign up', class: 'btn btn-primary' %>
    <% end %>
  </div>

</div>
