<%= render 'user_stylesheet' %>

<div class='row'>
  <div class='col-md-6 col-sm-6 col-xs-12'>
    <h4><%= @user.first_name.present? ? "Hi #{@user.first_name}" : 'My Profile' %></h4>
    <hr style='margin: 0 0 10px 0;'>
    <div class='outer'>
      <div class='inner'>
        <h5 class='muted'><%= best_in_place @user, :first_name, nil: "What's your first name?" %></h5>
        <h5 class='muted'><%= best_in_place @user, :last_name, nil: "What's your last name?" %></h5>
        <h5 class='muted'><%= best_in_place @user, :email, nil: "What's your email?" %></h5>
        <h5 class='muted show-form'><i class='fa fa-key'></i> Change password</h5>
        <%= render 'edit_password_form' %>
        <h5 class='muted show-form'><i class='fa fa-paint-brush fa-flip-horizontal'></i> Change style</h5>
        <%= render 'edit_style_form' %>
      </div>
    </div>
  </div>

  <div class='col-md-6 col-sm-6 col-xs-12'>
    <h4>Create a New Mantra</h4>
    <hr style='margin: 0 0 10px 0;'>
    <div class='outer'>
      <div class='inner'>
        <%= form_for @user.mantras.new, html: { multipart: true } do |f| %>
          <div class='form-group'>
            <%= f.text_field :title, class: 'form-control', placeholder: 'Do something better every day...' %>
          </div>
          <div class='form-group'>
            <%= f.file_field :image, class: 'form-control' %>
          </div>
          <%= button_tag type: :submit, id: 'create-mantra', class: "btn btn-#{current_user.style.create_button}" do %>
            <%= icon('fa fa-plus-circle', 'Create') %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class='row'>
  <div class='col-md-12 col-sm-12 col-xs-12'>
    <h4>My Mantras</h4>
    <hr style='margin: 0 0 10px 0;'>
    <% current_user.mantras.active.each do |m| %>
      <div class='col-md-4 col-sm-6 col-xs-12 mantra-wrapper'>
        <div class='outer'>
          <div class='inner'>
            <%= link_to m.image.url, target: '_blank' do %>
              <div class='row' style='margin-bottom: 10px;'>
                <%= image_tag m.image.url, class: 'col-md-12 col-sm-12 col-xs-12 mantra-image' %>
              </div>
            <% end if m.image.present? %>
            <div>
              <%= best_in_place m, :title, nil: 'Add a Title', inner_class: 'col-md-12' %>
            </div>
            <div style='margin-top: 5px;'>
              <%= link_to icon('fa fa-trash'), m, method: :delete, class: 'erase', data: { confirm: 'Delete job, you sure?' } %>
              <%= link_to send_now_path(id: m.id), class: 'send-now', method: :post do %>
                <i class='fa fa-spinner fa-spin hidden'></i> Send Now
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end if current_user.mantras.active.present? %>
  </div>
</div>
