<div class='row'>

  <div class='col-md-6'>
    <h4>
      <%= "Hi #{@user.first_name}" if @user.first_name.present? %>
      <%= 'Your Profile' if @user.first_name.blank? %>
    </h4>
    <hr style='margin: 0 0 10px 0;'>
    <h5 class='muted'><%= best_in_place @user, :first_name, nil: "What's your first name?" %></h5>
    <h5 class='muted'><%= best_in_place @user, :last_name, nil: "What's your last name?" %></h5>
    <h5 class='muted'><%= best_in_place @user, :email, nil: "What's your email?" %></h5>
  </div>

  <div class='col-md-6'>
    <h4>Create a New Mantra</h4>
    <hr style='margin: 0 0 10px 0;'>
    <%= form_for @user.mantras.new, html: { multipart: true } do |f| %>
      <div class='form-group'>
        <%= f.label :title %>
        <%= f.text_field :title, class: 'form-control', placeholder: 'Do something better every day...' %>
      </div>
      <div class='form-group'>
        <%= f.label :image %>
        <%= f.file_field :image, class: 'form-control' %>
      </div>
      <%= button_tag type: :submit, class: 'btn btn-success' do %>
        <%= icon('fa fa-plus-circle', 'Create') %>
      <% end %>
    <% end %>
  </div>

</div>

<style>
  a:hover { text-decoration: none; }
  .erase  { color: #F04444; margin-right: 3px; }
  .erase:hover { color: #CC2828; }
  .best_in_place { color: #525252; }
  .best_in_place:hover { color: #424242; cursor: pointer; }
 </style>

<div class='row'>

  <div class='col-md-6'>
    <% if current_user.mantras.active.present? %>
      <% current_user.mantras.active.each do |m| %>
        <div style='margin-bottom: 10px;'>
          <%= best_in_place m, :title, nil: 'Add a Title' %><br>
          <%= link_to 'View Image<br>'.html_safe, m.image.url, target: '_blank' if m.image.present? %>
          <%= link_to icon('fa fa-trash'), m, method: :delete, class: 'erase', data: { confirm: 'Delete job, you sure?' } %>
          <%= link_to 'Send Now', send_now_path(id: m.id), method: :post %>
        </div>
      <% end %>
    <% end %>
  </div>

</div>