<h2>Forgot your password?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :mobile_number %><br />
  <%= f.text_field :mobile_number, autofocus: true %></div><br>

  <div><%= f.submit "Send me reset password instructions", class: 'btn btn-primary' %></div>
<% end %>
<br>
<%= render "devise/shared/links" %>
