<div class='col-lg-6 col-md-6 col-sm-12 col-xs-12 col-lg-offset-3 col-md-offset-3'>
  <div class='row'>
    <h2>Forgot your password?</h2>
    <div class='outer'>
      <div class='inner'>
        <%= form_for(resource, as: resource_name, url: password_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>
          <div class='form-group'>
            <%= f.label :mobile_number, 'Mobile Number' %>
            <%= f.text_field :mobile_number, autofocus: true, placeholder: '321-555-8675', class: 'form-control' %>
          </div>
          <%= button_tag type: :submit, class: 'btn btn-primary' do %>
            <%= icon('fa fa-envelope-o', 'Text me reset password instructions') %>
          <% end %>
        <% end %>
      </div>
    </div>
    <%= link_to 'Remembered it?', new_user_session_path %><br>
    <%= link_to 'Sign up', root_path %>
  </div>
</div>
